.main_body{
    width: 110mm;
    height: 180mm;
    background-color: #b30000;
    position: relative;
    margin: auto;
    border-radius: 5mm;
}

.display{
    width: 95mm;
    height: 25mm;
    background-color: #a3a375;
    position: absolute;
    top: 11mm;
    left: 7mm;
    border-radius: 1mm;
}

.solar{
    background-color: black;
    width: 110mm;
    height: 5mm;
    position: absolute;
    top: 50mm;
}

.solar_glass{
    background-color: #d6d6c2;
    width: 35mm;
    height: 5mm;
    margin: auto;
}

.num_pad{
    width: 105mm;
    height: 80mm;
    /*border: 1px solid black;*/
    position: absolute;
    left: 2mm;
    top: 68mm;
}

.button{
    background-color: black;
    
    width: 15mm;
    height: 12mm;
    float: left;
    margin-left: 5mm;
    margin-top: 4mm;
    border-radius: 1mm;
    text-align: center;
    color: white;
    font-size: 5mm;
    font-family: "TAHOMA";
    
    
}