body {
  background-color: #E1EEF0;
  margin: 0;
}

.up {
  border: solid black;
  height: 14vh;
}

.middle {
  background-color: #14bdac;
  height: 70vh;
  margin: 0;
}

.down {
  border: solid black;
  height: 14vh;
  text-align: center;
  color: #0E9A8C;
  user-select: none;

}

.tic-tac-field {
  border: 11px solid #14bdac;
  border-collapse: collapse;
  margin: auto;
  position: relative;
  top: 100px;
}

.level select {
margin-top: 20px;
margin-left: 20px;
border: none;
background-color: inherit;
font-size: 20px;
text-align: center;
}

.score {
  border: 1px solid black;
  margin-top: 20px;
}

.score div {
  display: inline-block;
  border: 1px solid black;
  margin-left: 25%;
  width: 200px;
  height: 30px;
  background-color: rgb(249, 249, 249);
}

.score_x{
  box-shadow: 0 0px 10px 0px;
}

.score_0{
  box-shadow: 0 0px 10px 0px;
}

td {
  border: 10px solid rgba(94,100,111, 0.5);
  text-align: center;
  font-size: 100px;
  font-family: Monospace;
  width: 150px;
  height: 150px;
}
