body {
  background-color: #DAE3E4;
  margin: 0;
}

.up {
  border: solid black;
  height: 14vh;
}

.middle {
  background-color: #14bdac;
  height: 70vh;
  margin: 0;
}

.down {
  border: solid black;
  height: 14vh;
  text-align: center;
  color: #14bdac;
  user-select: none;

}

.tic-tac-field {
  border: 11px solid #14bdac;
  border-collapse: collapse;
  margin: auto;
  position: relative;
  top: 100px;
}

td {
  border: 10px solid rgba(94,100,111, 0.5);
  text-align: center;
  font-size: 100px;
  font-family: Monospace;
  width: 150px;
  height: 150px;
}
